# Deno
# Deno's cache folder
.deno/
# A list of Deno dependency cache files
deno.lock
# VS Code
.vscode/
# A user's IDE may create a local configuration file or a cache
.idea/
# Node.js
# Deno can import npm modules, this ignores node_modules
node_modules/
# A user may have a custom build file
dist/
build/
# Log files
*.log

secret.txt